## **Lesson 9**

# **Concatenation and Repetition**

Let's understand with the help of below code:

In [1]:
print([1,2]+[3,4])

[1, 2, 3, 4]

In [2]:
fruits=["mango","apple","banana","strawberry"]
chocolates=["Kitkat","Dairy Milk","Bournville","Perk"]
print(fruits+chocolates)

['mango', 'apple', 'banana', 'strawberry', 'Kitkat', 'Dairy Milk', 'Bournville', 'Perk']

In addition to concatenation, we can also do repetition task. Concatenation uses '+' operator while repetition uses '*' operator.

In [3]:
print([0]*4)

[0, 0, 0, 0]

In [4]:
print(fruits*4)

['mango', 'apple', 'banana', 'strawberry', 'mango', 'apple', 'banana', 'strawberry', 'mango', 'apple', 'banana', 'strawberry', 'mango', 'apple', 'banana', 'strawberry']

Concatenation and repetition followa same multiplication addition rule. Let's see below example:

In [5]:
print((fruits+[1])*3)

['mango', 'apple', 'banana', 'strawberry', 1, 'mango', 'apple', 'banana', 'strawberry', 1, 'mango', 'apple', 'banana', 'strawberry', 1]

In [6]:
print(fruits+[1]*3)

['mango', 'apple', 'banana', 'strawberry', 1, 1, 1]