## **Lesson 6**

# **Strings**

Strings, Lists and Tuples are sequences. Sequences are ordered collections. The simplest way to create a string is a 'string' literal expression as shown below:

In [1]:
s="Hello Sherlock!!"
n='''
this is a multi line string
'''

print(s)
print(n)

Hello Sherlock!!

this is a multi line string

In [2]:
s=''
print(s)

In [3]:
s='5'
i=s
print(s)
print(i)

5
5

In [4]:
type(s)
type(i)

str

In [5]:
print(s)
print(i+10)

5

TypeError: ignored

In [6]:
print(int(i)+10)

15

# **Lists**

Lists are new Python type which are sequences of any type of value which can include other strings or lists. Lists are created within ' [ ]'. Just see below example:

In [7]:
mylist=["one",2,"three",4]

print(mylist)

['one', 2, 'three', 4]

We can only concatenate one list with other list. Look below code:

In [8]:
mindlist=[1, 2,3, 4]
print(mindlist)

[1, 2, 3, 4]

In [9]:
print(mindlist+19)

TypeError: ignored

In [10]:
brain=[3,4,6,7]
print(mindlist+brain)

[1, 2, 3, 4, 3, 4, 6, 7]

# **Tuples**

Tuples are just like Lists. The only difference is that, Tuples are immutable which means that once the Tuples is created it cannot be changed. Tuples are writthen inside'( )'

In [15]:
myTuples=("one", 2, "three")
type(myTuples)

tuple

You can see in below code that in order to create single tuple, you have to add extra comma otherwise it will treat it as a string.

In [16]:
mTuple=(100)
type(mTuple)

int

In [17]:
mTuple=(100,)
type(mTuple)

tuple